<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <!-- Network Model Service-->
      <endpoint address="net.tcp://localhost:10000/NetworkModelService/GDA/" behaviorConfiguration="NMSClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.INetworkModelGDAContract" name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint name="TSDBEndpoint" address="net.tcp://localhost:10050/IHistorianDB" binding="netTcpBinding" contract="TSDB.Access.IHistorianDB" />
      <endpoint name="WeatherForecastEndpoint" address="net.tcp://localhost:10020/IWeatherForecast" binding="netTcpBinding" contract="FTN.Common.WeatherForecast.Service.IWeatherForecast" />
      <endpoint name="CEDistributionEndpoint" address="net.tcp://localhost:10013/ICEDistribution" binding="netTcpBinding" contract="CalculationEngine.Interfaces.ICEDistribution" />
      <endpoint name="CEForecastEndpoint" address="net.tcp://localhost:10025/IForecastService" binding="netTcpBinding" contract="CommonCE.IForecastService" />

			<endpoint name="AORLoginEndpoint" address="net.tcp://localhost:10038/IAORManagement" binding="netTcpBinding" contract="AORCommon.AORManagementContract.IAORManagement" />
		</client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="10:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="NMSClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>