<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.serviceModel>
    <client>
      <!-- Network Model Service-->
      <endpoint address="net.tcp://localhost:10000/NetworkModelService/GDA/" behaviorConfiguration="NMSClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.INetworkModelGDAContract" name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="10:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="NMSClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory 
      type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add
      name="historianDB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HistorianDB.mdf;Integrated Security=True"/>
    <add
      name="FiveMinutesDB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FiveMinutesDB.mdf;Integrated Security=True"/>
    <add
      name="HoursDB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HoursDB.mdf;Integrated Security=True"/>
    <add
      name="DaysDB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DaysDB.mdf;Integrated Security=True"/>
    <add
      name="MonthsDB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MonthsDB.mdf;Integrated Security=True"/>
    <add
       name="YearsDB"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\YearsDB.mdf;Integrated Security=True"/>


    <!--connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CalculatorDB.mdf;Integrated Security=True;"/>-->
    <!-- VS2013: -->
    <!--connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CalculatorDB.mdf;Integrated Security=True;"-->
    <!-- VS2015: -->
    <!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CalculatorDB.mdf;Integrated Security=True"-->
  </connectionStrings>
</configuration>