<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
		</startup>
	<system.serviceModel>
		<client>
			<!--<endpoint name="AORLoginEndpoint" address="net.tcp://localhost:10038/IAORManagement" binding="netTcpBinding" contract="AORCommon.AORContract.IAORManagement" />-->
			<endpoint name="AORViewerCommEndpoint" address="net.tcp://localhost:10066/IAORViewerCommunication" binding="netTcpBinding" contract="FTN.Common.AORContract.IAORViewerCommunication" />
		</client>
	</system.serviceModel>

</configuration>