<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
		</startup>
	<system.serviceModel>
		<client>
			<endpoint name="AORLoginEndpoint" address="net.tcp://localhost:10038/IAORManagement" binding="netTcpBinding" contract="AORCommon.AORManagementContract.IAORManagement" />
		</client>
		
	</system.serviceModel>

</configuration>